body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 50px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px
}

.content {
    display: flex;
    padding: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.sign-up {
    width: 125px;
    padding: 7px;
    border-radius: 7px;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
}

.sign-up-content{
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 72px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.info-text {
    width: 150px;
    color: #1f2937;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.img-container {
    border-radius: 16px;
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 54px;
}

.quote-text {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: 100;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    padding: 16px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 32px; 
    color: white;     
}

.cta-window {
    display: flex;
    align-items: center;
    padding: 64px;
    background-color: #3882f6;
    border-radius: 16px;
}

.cta-button {
    width: 125px;
    padding: 7px;
    border-radius: 7px;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    color: #f9faf8;
}

.bolder{
    font-size: 36px;
    font-weight: bold;
}

.call-to-action-text {
    font-size: 18px;
    padding: 32px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 40px;
    color: #e5e7eb;
}

.width-manager {
    max-width: 1000px;
}